<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <link rel="stylesheet" href="/stylesheets/login.css" />
  <div class="question-content" id="login-wrapper">
    <div class="form-container">
      <h1>Login as Staff</h1>
      <form action="/admin/Dlogin" method="post" enctype="multipart/form-data">
        <div class="input-group">
          <label for="title">Username</label>
          <input type="text" name="email" id="username" required />
        </div>

        <div class="input-group">
          <label for="password">Password</label>

          <input type="password" name="phone" id="password" />
        </div>
        <div class="btn-group">
          <input type="submit" class="btn-submit" value="Login" />
        </div>
      </form>
      <a href="/admin" style="color: green;font-weight:bold">Login as Admin</a>
    </div>
  </div>
</body>

</html>