<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
    
    </style>
</head>

<body>
    <div class="slider">

        <div class="slide-track">
            <div class="slide" data-error-id="undefined"
                style="color: white; background-color: rgb(46, 44, 44); margin-left: 10px;">
                Processing
            </div>
        </div>

    </div>
   
</body>

</html>