<div class="cards">
  <div class="card">
    <div class="box">
      <h1>{{staffCount}}</h1>
      <h3>Total Errors</h3>
    </div>
    <div class="icon-case">
      <i class="fab fa-wpforms"></i>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <h1>{{errorCount}}</h1>
      <h3>Staff List</h3>
    </div>
    <div class="icon-case">
      <i class="far fa-images"></i>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <h1>{{counts.questions}}</h1>
      <h3>Total Temparorry Admin</h3>
    </div>
    <div class="icon-case">
      <i class="fas fa-file-contract"></i>
    </div>
  </div>
</div>