   <div class="side-menu">
      <div class="brand-name">
        <a href="/admin"><h1>DASHBOARD</h1></a>
      </div>
      <ul>
        <li><i class="far fa-building"></i>
          &nbsp;
          <span>Departments</span>
        </li>
        <!--icon is there before text-->
        {{!-- <li><a href="/admin/staff-list"> <i class="fas fa-users"></i>&nbsp; <span>Staffs</span> </a></li> --}}
        <li><a href="/admin/question-papers"><i class="far fa-newspaper"></i>&nbsp;
          <span>FIR List</span></a></li>
        {{!-- <li><a href="#"><i class="fas fa-running"></i> &nbsp; <span>Activities</span></a></li> --}}
        <li><a href="/admin/photo-gallery"><i class="far fa-images"></i>&nbsp; <span>Wanted List</span></a></li>
       <!-- <li><a href="#"><i class="fas fa-file-contract"></i>&nbsp;
          <span>OnlineGrievence</span></a></li>-->
          <li><a href="/admin/forms"><i class="fas fa-file-contract"></i>&nbsp;
          <span>Evidance List</span></a></li>
          <li><a href="/admin/notifications"><i class="fas fa-bell"></i>&nbsp;
          <span>Notifications</span></a></li>
           <li><a href="/admin/complaints"><i class="fas fa-bell"></i>&nbsp;
          <span>Complaints</span></a></li>
      </ul>
    </div>