   <div class="side-menu">
      <div class="brand-name">
        <a href="/admin/home"><h1>DASHBOARD</h1></a>
      </div>
      <ul>
        <li><i class="far fa-building"></i>
          &nbsp;
          <span>TRAININGS</span>
        </li>
        <!--icon is there before text-->
        <li><a href="/admin/getStaffPage"> <i class="fas fa-users"></i>&nbsp; <span>Staff</span> </a></li>
        <li><a href="/admin/getError"><i class="far fa-newspaper"></i>&nbsp;
          <span>Errors</span></a></li>
        {{!-- <li><a href="#"><i class="fas fa-running"></i> &nbsp; <span>Activities</span></a></li> --}}
        {{!-- <li><a href="/admin/Report"><i class="far fa-images"></i>&nbsp; <span>Reports</span></a></li> --}}
        
       <!-- <li><a href="#"><i class="fas fa-file-contract"></i>&nbsp;
          <span>OnlineGrievence</span></a></li>-->
          {{!-- <li><a href="/admin/evidence-list"><i class="fas fa-file-contract"></i>&nbsp;
          <span>Evidence</span></a></li>
          <li><a href="/admin/notifications"><i class="fas fa-bell"></i>&nbsp;
          <span>Alerts</span></a></li>
           <li><a href="/admin/complaints"><i class="fas fa-bell"></i>&nbsp;
          <span>Complaints</span></a></li> --}}
      </ul>
    </div>